.cabecalho{
    background-color: blue;
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-img{
    width: 20%;
    padding: 0 15px;
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
body{

}      
}
.div-cabecalho-logo{
display: flex;
}
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 22px;
        font-size: 18px;
    }
    .cabecalho-titulo{
        padding: 20px 0;
    }
    .imagem-escola{
        width: 20%;fontt-family:poppins;sans-serif;
    }
    .escola{
    background-image: linear-gradient(blue, white);
    color: white;
    display: flex;
    justify-content: center;
    }
    .escola-titulo{
        padding: 24pix 0;
    }
    .escola-titulo-um{
        padding: 24pix 0;
    }
    escola-div-conteudo{
    width: 35%;
    }
    .estudante imagem{
        width: 220pix;
    }
    .estudante-icone{
        width: 24px;
    }
    .estudante-div{
        text-align: center;
        padding: 16pix 0;
    }